body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  color: #434455;
  text-align: center;
  align-content: center;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.accent {
  color: #2e2f42;
}

.head-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.first-item {
  color: #2e2f42;
}

.first-item:hover,
.first-item:focus {
  color: #404bbf;
}
.contacts-links {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  font-style: normal;
}
.cont-link {
  color: #434455;
}
.cont-link:hover,
.cont-link:focus {
  color: #404bbf;
}

.section-first {
  background: #2e2f42;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  text-align: center;
}

.main-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #fff;
}

.bttn {
  font-family: "Roboto", sans-serif;
  background: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  cursor: pointer;
}
.bttn:hover,
.bttn:focus {
  background-color: #404bbf;
}

.thrd-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.main-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.scnd-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
}

.section-third {
  background-color: #f4f4fd;
}
.third-item {
  background-color: #ffffff;
}

.foo-end {
  background-color: #2e2f42;
}
.main-text-foo {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
.accentt {
  color: #f4f4fd;
}
