*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  color: #434455;
  text-align: center;
  align-content: center;
}
ul,
ol {
  list-style-type: none;
}
a {
  text-decoration: none;
}
button {
  cursor: pointer;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
}
/*========== NAVIGATION =========*/
.hat-head {
  display: flex;
  border-bottom: 1px solid #e7e9fc;
  align-items: center;
}
.container {
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.hat-head .container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
}
.page-navigation {
  display: flex;
  align-items: center;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin: 2px 76px 24px 0;
}
.accent {
  color: #2e2f42;
}
.menu {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 40px;
}
.menu-item {
  color: #2e2f42;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-left: 76px;
  padding: 14px 0;
}
.menu-link {
  color: #2e2f42;
  padding: 24px 0;
}

.menu-link:hover,
.menu-link:focus {
  color: #404bbf;
}
/* ========= ADRESSA =======*/
.contacts {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  font-style: normal;
}
.cont-list {
  display: flex;
  gap: 40px;
  padding: 24px 0;
  flex-direction: row;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  margin-top: 24px;
  margin-right: 156px;
  margin-bottom: 24px;
  margin-left: 332px;
}
.cont-link {
  color: #434455;
}
.cont-link:hover,
.cont-link:focus {
  color: #404bbf;
}

/* ============ MAIN ============*/

/* ======= HERO SECTION ========*/
.section-hero {
  background: #2e2f42;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  text-align: center;
}
.main-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #fff;
}
.top-button {
  font-family: "Roboto", sans-serif;
  background: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  cursor: pointer;
}
.top-button:hover,
.top-button:focus {
  background-color: #404bbf;
}
/* ======== FIRST SECTION =======*/

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* ======= SECOND SECTION ==========*/
.section-second {
  background-color: #f4f4fd;
}
.title-two {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
}
.title-three {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.main-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.second-item {
  background-color: #ffffff;
}
/* ===== THIRD SECTION ===== */

/* ======= PIDVAL ========*/

.foo-end {
  background-color: #2e2f42;
}
.accentt {
  color: #f4f4fd;
}

.main-text-foo {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
